body
{
    background-color: #f8e6ea; 
}

h1
{
    text-align: center;
    color: #642b2b
}

table 
{ 
    width: 100%;
    border-collapse: collapse;
}

th 
{ 
    text-align: center; 
    background: #c88c9c; 
    border: 1px solid black;
    font-size: 14pt;
}

 td
 {
    text-align: center;
    font-size: 14pt;
} 
 
table
{
    border-collapse: collapse;
    margin: auto;
}

td:nth-child(2n) 
{
    background: #bdabb5;
} 

tbody tr:hover
{
    background-color: #bdabb5;
    color: #ffffff;
}

tbody td:hover::after
{
    background-color: #bdabb5;
    content: '';
    height: 10000px;
    top: -5000px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    color: #ffffff;
}

td
{
    position: relative;
}
button
{
    visibility: hidden;
}

.phone:valid ~ .email:valid ~ .buttonB
{
    visibility: visible
}

fieldset
{ 
    background: #c88c9c;
}

input:invalid 
{
    background: #fdd; 
}

input:valid 
{
    background: #c7f4ca; 
}

form
{
    align: center;
}

label 
{
    color: #525151;
    font-size: 18pt;
}

fieldset
{
     text-align: center;}
p 
{
    font-weight: 600;
    font-size: 30pt;
    text-align: center;
    color: #431823;
}
