body{
background-color: #f8e6ea; 
}
h1{
text-align: center;
color: #642b2b
}

table { 
width: 100%;
border-collapse: collapse;
}
th { 
text-align: center; 
background: #c88c9c; 
border: 1px solid black;
font-size: 14pt;
}
 
fieldset{ background: #c88c9c; }
 td:nth-child(2n) {
background: #f8e6ea;
color: #431823
} 
td:nth-child(2n+1) {
background: #bea2aa; 
color: #431823
}
td{
text-align: center;
font-size: 14pt;
} 
td:hover {
color: #f8eff2;
background: #bbb7b7; 
}
input:invalid {
background: #fdd; 
}
input:valid {
background: #c7f4ca; 
}
form
{align: center;}
label {
color: #525151;
font-size: 18pt;
}
fieldset{
text-align: center;}
p {
font-weight: 600;
font-size: 30pt;
text-align: center;
color: #431823;}